{{yield}}

<div
  class="relative flex flex-col justify-between p-4 my-6 bg-white dark:bg-slate-800 shadow-sm border border-slate-200 rounded-lg w-full"
>
  <div class="flex flex-col gap-3">
    <p class="text-slate-600 dark:text-slate-400">Category:
      {{@article.source.name}}</p>

    <div class="relative h-72 overflow-hidden text-white rounded-md">
      <img
        src="{{@article.urlToImage}}"
        alt="card-image"
        class="object-cover w-full h-full"
      />
    </div>
    <h6 class="text-slate-800 dark:text-slate-100 text-xl font-semibold">
      {{@article.title}}
    </h6>
    <p class="text-slate-600 dark:text-slate-400 leading-normal font-light">
      {{truncate @article.description}}
    </p>
    <p class="dark:text-slate-50">{{truncate @article.content}}</p>

  </div>

  <div class="flex items-center justify-between">
    <div class="flex items-center justify-between">
      <div class="flex flex-col text-sm">
        <span
          class="text-slate-800 dark:text-slate-100 font-semibold w-40 truncate text-ellipsis"
        >{{@article.author}}</span>
        <span class="text-slate-600 dark:text-slate-400">
          {{date-format @article.publishedAt}}
        </span>
      </div>

    </div>
    <div class="px-4 pb-4 pt-0 mt-2">
      <LinkTo @route="article" @model={{@article.source.id}}>
        <button
          class="rounded-md bg-slate-800 dark:bg-slate-700 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 dark:focus:bg-slate-600 focus:shadow-none active:bg-slate-700 dark:active:bg-slate-600 hover:bg-slate-700 dark:hover:bg-slate-600 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          type="button"
        >
          Read more
        </button>
      </LinkTo>
    </div>
  </div>
</div>